<div class="container-app">
  <div class="side-left">
    <div class="title">New Task</div>
    <app-add-edit (onSave)= "onSave($event)"></app-add-edit>
  </div>
  <div class="side-right">
    <div class="title">To Do List</div>
    <app-list 
    [items]="items"
    (onDelete) = "onDelete($event)"
    (onSearch) = "onSearch($event)"
    (onEdit) = "onSave($event)"
    ></app-list>
  </div>
</div>