$blue: #2096f3;
$green: #5CB85C;
$red: #d95350;

.container-app {
    display: flex;
    border: 1px solid #000;
    .title { 
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .side-left { 
        text-align: center;
        padding: 20px;
        width: 40%;
        border-right: 1px solid #000;
    }
    .side-right { 
        text-align: center;
        position: relative;
        padding: 20px 0 70px;
        width: 60%;
    } 
}