<div class="container-list">
    <div class="text-field">
        <input #searchInput type="text" placeholder="Search...">
    </div>

    <div class="list">
        <ng-template ngFor let-item [ngForOf]="items" let-i="index" >
            <div class="item">
                <div class="item-header">
                    <div class="left">
                        <input type="checkbox" [checked]="item.checked" (change)="item.checked = !item.checked"/>
                        <span>{{item.name}}</span>
                    </div>
                    <div class="right">
                        <button class="btn detail" (click)="onExpand(item)">
                            Detail
                        </button>
                        <button class="btn remove" (click)="onDelete(item)">
                            Remove
                        </button>
                    </div>
                </div>
                <div class="item-content" *ngIf="item.isExpand">
                    <app-add-edit 
                    [isEdit]="true"
                    [item]="item"
                    (onEdit)= "onEdit($event)"
                    ></app-add-edit>
                </div>
            </div>
        </ng-template>
    </div>

    <div class="footer">
        <p>Bulk Action:</p>
        <div class="button">
            <button class="btn done">
                Done
            </button>
            <button class="btn remove" (click)="onDeleteSelect()">
                Remove
            </button>
        </div>
    </div>
</div>