$blue-light: #00bcd4;
$blue: #2096f3;
$green: #5CB85C;
$red: #d95350;

.container-list {
    padding: 0 20px;
    height: 100%;
    position: relative;
    .text-field {
        text-align: left;
        display: flex;
        flex-direction: column;
        width: 100%;

        input { 
            height: 22px;
            margin-top: 5px;
        }
    }

    .list {
        margin-top: 10px;
        .item {
            border: 1px solid #000;
            .item-header { 
                padding: 10px;
                display: flex;
                justify-content: space-between;
                align-self: center;
                .left { 
                    display: flex;
                    justify-content: space-between;
                    align-self: center;
                    input { 
                        margin-right: 5px;
                    }
                }
                .right {
                    display: flex;
                    justify-content: space-between;
                    align-self: center;
                }
                .btn {
                    width: 100px;
                    height: 30px;
                    color: #fff;
                    border: none;
                    outline: none;
                    border-radius: 3px;
                    & + .btn { 
                        margin-left: 10px;
                    }
                    &.detail { 
                        background-color: $blue-light;
                    }
                    &.remove { 
                        background-color: $red;
                    }
                }
            }
            .item-content { 
                border-top: 1px solid #000;
                padding: 10px;
            }
            & + .item {
                margin-top: 10px;
            }
        }
    }

    .footer {
        height: 50px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -27px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(224 224 224);
        p { 
            padding-left: 10px;
        }
        .button { 
            padding-right: 10px;
            .btn {
                width: 100px;
                height: 30px;
                color: #fff;
                border: none;
                outline: none;
                border-radius: 3px;
                & + .btn { 
                    margin-left: 10px;
                }
                &.done { 
                    background-color: $blue;
                }
                &.remove { 
                    background-color: $red;
                }
            }
        }
    }
}