<div class="container-add-edit" [formGroup]="form">
    <div class="text-field-group">
        <div class="text-field">
            <input id="taskName" name="taskName" type="text" 
            formControlName="name"
            [placeholder]="isEdit ? '' : 'Add new task...'" autocomplete="off">
            <div class="valid" *ngIf="name?.errors?.required && name?.touched" >{{'Không được bỏ trống'}}</div>
        </div>
    </div>
    
    <div class="text-field-group">
        <div class="text-field">
            <label for="description"> Description</label>
            <textarea name="description" id="description" cols="30" rows="10"
            formControlName="description"></textarea>
        </div>
    </div>
    
    <div class="text-field-group">
        <div class="text-field">
            <label for="dueDate"> Due date</label>
            <input id="dueDate" name="dueDate" type="text" autocomplete="off"
            formControlName="dueDate">
            <div class="valid" *ngIf="dueDate?.errors?.invalidDate && dueDate?.touched" >{{'Invalid date'}}</div>
        </div>

        <div class="text-field">
            <label for="priority"> Priority</label>
            <select formControlName="priority">
                <option value="LOW">Low</option>
                <option value="NORMAL">Normal</option>
                <option value="HIGH">High</option>
            </select>
        </div>
    </div>
    <button class="btn" (click)="emitSaveValue()">
            {{isEdit ? 'Update' : 'Add'}}
    </button>
</div>
