.container-add-edit {
    position: relative;
    .text-field-group {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        & + .text-field-group {
            margin-top: 20px;
        }

        .text-field { 
            text-align: left;
            display: flex;
            flex-direction: column;
            width: 100%;
            input, textarea, select { 
                margin-top: 5px;
                height: 22px;
            }
            select { 
                height: 28px;
            }

            .valid {
                color: red;
            }
        }
    }

    .btn {
        margin-top: 40px;
        width: 100%;
        height: 30px;
        color: #fff;
        background-color: green;
        border: none;
        outline: none;
        border-radius: 3px;
    }
}